{% extends 'trainer/trainerindex.html' %}
{% block body %}

<body>
<form action="" method="post">
  <table width="200" border="1" class="table table-bordered">


    <tr>
      <td>Date</td>
      <td>User</td>
      
      <td>&nbsp;Status</td>

    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ i.date }} </td>
      <td>&nbsp;{{ i.USER.firstname }}</td>


      <td><a href="/presentattendance/{{ i.USER.id }}">Present</a><br><a href="/absentattendance/{{ i.USER.id }}">Abscent</a></td>


    </tr>
      {% endfor %}
    
  </table>
</form>
</body>
{% endblock %}
