{% extends 'trainer/trainerindex.html' %}
{% block body %}

<body>
<form action="" method="get"><table width="200" border="1" class="table table-bordered">
<tr><td>Date</td>
      <td colspan="12"><input type="text" name="t1" required/>
        <input type="submit" name="button" id="button" value="Go" class="btn btn-success" /></td>
</tr>
  <tr>
    <td>Date</td>
    <td>Time</td>
    <td>Workout </td>
    
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    
    <td><a href="#" class="btn btn-danger">Delete</a></td>
  </tr>
  <tr align="center">
    <td colspan="7"><a href="#" class="btn btn-success">Add</a></td>
    </tr>
</table>

</form>
</body>
{% endblock %}
