<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
  <tr>
    <td><p><a href="mngtrainer">Manage Trainer</a></p>
      <p><a href="mngschedule">Time Shedule</a></p>
      <p><a href="viewuser">View User</a></p>
      <p><a href="mngfee">Fee Details</a></p>
      <p><a href="pendinglist">Pending List</a></p>
{#      <p><a href="viewreport">Reports</a></p>#}
      <p><a href="mngproduct">Product Manage</a></p>
      <p><a href="vieworderandverify">View Orders and Verify</a></p>
      <p><a href="viewrating">View Rating</a></p>
      <p><a href="/">Logout</a></p></td>
  </tr>
</table>

</form>
</body>
</html>
{#<li class="nav-item @@about__active">#}
{#                      <a class="nav-link" href="mngtrainer">Trainer</a>#}
{#                  </li>#}
{#                  <li class="nav-item @@classes__active">#}
{#                      <a class="nav-link" href="mngschedule">Schedule</a>#}
{#                  </li>#}
{#                  <li class="nav-item @@contact__active">#}
{#                      <a class="nav-link" href="mngproduct">Product</a>#}
{#                  </li>#}
{#                  <li class="nav-item @@contact__active">#}
{#                      <a class="nav-link" href="vieworderandverify">Orders</a>#}
{#                  </li>#}
{#                  <li class="nav-item @@contact__active">#}
{#                      <a class="nav-link" href="mngfee">Fee</a>#}
{#                  </li>#}
{#                  <li class="nav-item @@contact__active">#}
{#                      <a class="nav-link" href="pendinglist">Pending List</a>#}
{#                  </li><li class="nav-item @@contact__active">#}
{#                      <a class="nav-link" href="viewrating">Rating</a>#}
{#                  </li>#}